<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'App1' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>83ea41fd-1920-4838-9721-83a74680adac</InstrumentationKey>
</ApplicationInsights>